<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="display: block;">
    <div class="auth-container">
        <h2>Регистрация</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Потребител" required>
            <input type="password" name="password" placeholder="Парола" required>
            <button type="submit" style="background: #2980b9;">Регистрирай се</button>
        </form>
        <p style="color: #333; text-align: center;"><a href="{{ url_for('login') }}">Назад към входа</a></p>
    </div>
</body>
</html>